.container {
    padding: 20px;
    background-color: #202020;
    color: white;
    border-radius: 10px;
}

.card {
    padding: 20px;
    margin: 20px 0;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.shiftCard {
    padding: 15px;
    background-color: #444;
    color: white;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.shiftCard:hover {
    transform: scale(1.05);
}
