.rbc-toolbar button {
    background-color: var(--mui-palette-primary-main);
    color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.rbc-toolbar button:hover {
    background-color: var(--mui-palette-primary-dark);
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
}

.rbc-btn-group {
    background-color: var(--mui-palette-primary-main);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 20px;
}

.rbc-toolbar{
    background-color: var(--mui-palette-primary-main);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 30px;
}

.rbc-active{
    color: black !important;
}

.rbc-event{
    background-color: var(--mui-palette-primary-main);
}

.rbc-event-content{
    background-color: var(--mui-palette-primary-main);
}

.rbc-off-range-bg {
    background-color: rgba(200, 200, 200, 0.5);
}
.rbc-today {
    color: var(--mui-palette-primary-main);
    background-color: #F2C0BD;
}
